*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.bg-color{
    background-color: rgb(180, 208, 231);
}

.grey{
    color: grey;
}

.border-lightgrey{
    border: 1px solid lightgrey;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}

.container-xl{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 991px;
    margin: 0 auto;
}

.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: calc(100vw / 6);
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.row{
    width: 100%;
    display: flex;
}


.content-testa{
    border: 1px solid black;
}

.content-corpo{

    border: 1px solid black;
}

.content-griglia{
    background-color: red;
    border: 1px solid black;
    height: calc(100vw / 6);
    display: flex;
}

.col-33{
    width: calc(100% / 3 );
}

.col-20{
    width: calc(100% / 5);
}
.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.margin-top-10{
    margin-top: 10px;
}

.space-between{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.block{
    display: block;
}

/* PADDING */
.padding-10{
    padding: 10px;
}

.padding-25{
    padding: 25px;
}
.padding-10-0{
    padding: 10px 0px;
}

.padding-10-20{
    padding: 10px 20px;
}
.padding-15-0{
    padding: 15px 0px;
}
.padding-20-0{
    padding: 20px 0px;
}

.padding-40-0{
    padding: 40px 0px;
}

.padding-70-60{
    padding: 70px 60px;
}

.padding-0-15{
    padding: 0px 15px;
}

.padding-15-0{
    padding: 15px 0px;
}

.padding-right-40{
    padding-right: 40px;
}
.padding-right-110{
    padding-right: 110px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-top-45{
    padding-top: 45px;
}
/* MARGIN */
.margin-10-0{
    margin: 10px 0px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-0-15{
    margin: 0px 15px;
}

.margin-left-15{
    margin-left: 15px;
}
.margin-20-0{
    margin: 20px 0px;
}

.margin-70-0{
    margin: 70px 0px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}
.width-100{
    max-width: 100%;
}

/* FONT SIZE */

.font-size-12{
    font-size: 12px;
}
.font-size-15{
    font-size: 15px;
}

.font-size-17{
    font-size: 17px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-35{
    font-size: 35px;
}

.font-size-50{
    font-size: 50px;
}
.font-size-80{
    font-size: 80px;
}

.font-weight-600{
    font-weight: 600;
}

.jc-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}
.dp-flex{
    display: flex;
}
/* header */

.list-type{
    list-style-type: none;
}
.inline{
    display: inline;
    padding: 0px 10px;
}

.button-style-1{
    border: none;
    padding: 10px 10px;
    background-color: rgb(0, 97, 255);
    color: white;
}

.button-style-2{
    border: 1px solid grey;
    padding: 10px 10px;
    background-color: white;
    color: grey;
}

/* main */

h1{
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0px;
}

h4{
    font-size: 30px;
}

.hr-col-33{
    width: 20%;
    margin: 10px 0px;
}

.check{
    color: rgb(0, 97, 255);
    font-weight: 500;
}

.min-height-col{
    min-height: 911px;
}