*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.font-family-500{
    font-family: 'Kanit', sans-serif;
}
.bg-color{
    background-color: rgb(180, 208, 231);
}

.bg-grey{
    background-color: rgb(245, 245, 245);
}
.bg-color-black{
    background-color: black;
}
.grey{
    color: grey;
}

.lightgrey{
    color: lightgrey;
}
.white{
    color: white;
}
.darkred{
    color: rgb(97, 8, 41);
}
.border-grey{
    border: 1px solid grey;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}

.container-xl{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 991px;
    margin: 0 auto;
}

.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: calc(100vw / 6);
}

.square-logo{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightskyblue{
    background-color: rgb(180, 208, 231);
}
.lightblue{
    background-color: rgb(0, 147, 206);
}

.red-2{
    background-color: rgb(213, 0, 31);
}

.red-1{
    background-color: rgb(255, 28, 28);
}
.brown{
    background-color: rgb(97, 8, 43);
}

.blue{
    background-color: rgb(13, 36, 129);
}

.lightgreen{
    background-color: rgb(162, 211, 155);
}

.yellow{
    background-color: rgb(255, 216, 48);
}
.row{
    width: 100%;
    display: flex;
}

.height-250{
    height: 250px;
}

.content-testa{

}

.content-corpo{

}

.content-griglia{
    background-color: red;
    border: 1px solid black;
    height: calc(100vw / 6);
    display: flex;
}

.col-33{
    width: calc(100% / 3 );
}

.col-20{
    width: calc(100% / 5);
}
.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.margin-top-10{
    margin-top: 10px;
}

.space-between{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.block{
    display: block;
}

/* PADDING */
.padding-10{
    padding: 10px;
}

.padding-15{
    padding: 15px;
}
.padding-25{
    padding: 25px;
}
.padding-10-0{
    padding: 10px 0px;
}

.padding-10-20{
    padding: 10px 20px;
}
.padding-15-0{
    padding: 15px 0px;
}
.padding-20-0{
    padding: 20px 0px;
}

.padding-40-0{
    padding: 40px 0px;
}

.padding-50-0{
    padding: 50px 0px;
}

.padding-80-0{
    padding: 80px 0px;
}
.padding-70-60{
    padding: 70px 60px;
}

.padding-0-5{
    padding: 0px 5px;
}
.padding-0-15{
    padding: 0px 15px;
}

.padding-right-50-perc{
    padding-right: 50%;
}

.padding-right-60-perc{
    padding-right: 60%;
}
.padding-right-40{
    padding-right: 40px;
}
.padding-right-110{
    padding-right: 110px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-top-20{
    padding-top: 20px;
}
.padding-top-30-perc{
    padding-top: 30%;
}

.padding-top-45{
    padding-top: 45px;
}
/* MARGIN */

.margin-20{
    margin: 20px;
}
.margin-10-0{
    margin: 10px 0px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-0-15{
    margin: 0px 15px;
}

.margin-left-15{
    margin-left: 15px;
}
.margin-20-0{
    margin: 20px 0px;
}

.margin-70-0{
    margin: 70px 0px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}
.width-100{
    max-width: 100%;
}

.width-10{
    width: 10%;
}
/* FONT SIZE */

.font-size-9{
    font-size: 9px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-15{
    font-size: 15px;
}

.font-size-17{
    font-size: 17px;
}

.font-size-20{
    font-size: 20px;
}
.font-size-25{
    font-size: 25px;
}

.font-size-35{
    font-size: 35px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-50{
    font-size: 50px;
}
.font-size-80{
    font-size: 80px;
}

.font-weight-600{
    font-weight: 600;
}

.jc-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}
.dp-flex{
    display: flex;
}
/* header */

.list-type{
    list-style-type: none;
}
.inline{
    display: inline;
    padding: 0px 10px;
}

.button-style-1{
    border: none;
    padding: 10px 10px;
    background-color: rgb(0, 97, 255);
    color: white;
}

.button-style-2{
    border: 1px solid grey;
    padding: 10px 10px;
    background-color: white;
    color: grey;
}

/* main */

h1{
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0px;
}

h4{
    font-size: 30px;
}

.hr-col-33{
    width: 20%;
    margin: 10px 0px;
}

.check{
    color: rgb(0, 97, 255);
    font-weight: 500;
}

.min-height-col{
    min-height: 911px;
}

.line-height{
    line-height: 1.6;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 25px;
    right: 25px;
}

.absolute-2{
    position: absolute;
    top: 100px;
    right: 50px;
}

.absolute-3{
    position: absolute;
    width: 40%;
    top: 0px;
    left: 0px;
}
.b-radius{
    border-radius: 15px;
}
